ADMIN_JWT_SECRET=
NUXT_PUBLIC_SITE_URL=https://klinikpsikologselinasyabagci.com
APP_DATA_DIR=/data/selin-web/db
APP_UPLOADS_DIR=/data/selin-web/uploads
TURNSTILE_SECRET_KEY=
NUXT_PUBLIC_TURNSTILE_SITE_KEY=
